.Navbar{
    background-color: initial;
    margin: 0 auto;
    display: flex;
    max-width: 133rem;
    justify-content: space-between;
    align-items: center;
}
.navbar-mobile{
    display:none;
}
@media (max-width:1072px) {
    .list{
        display:none;
    }
}
.logo{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}
.logo img{
    height:110px;
}
.logo h2{
    font-size:22px;
    color:rgb(190, 111, 36);
    padding:0;
    margin-top:-40px;
    letter-spacing:4px;
}
ul{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    gap:40px;
    font-size:17px;
    list-style: none;
    font-weight: 600;
}

ul li:hover{
    color:rgb(190, 111, 36);
    cursor:pointer;
    transition: all .3s;
}
.active{
    color:rgb(190, 111, 36);
}
.buttons{
    display:flex;
    justify-content: space-between;
    align-items:center ;
    gap:20px;
}
.buttons .sign-in{
    background-color: rgb(252, 243, 243);
    color:black;
    font-size:17px;
    border: none;
    padding:10px 20px;
    font-weight: bold;
    border-radius: 20px;
    transition: 0.5s linear;
}
.buttons .sign-in:hover{
color:rgb(190, 111, 36);
cursor:pointer;
background-color:rgb(190, 111, 36);
color:white;
}
.buttons .register{
    background-color:rgb(190, 111, 36);
    border:none;
    font-size:17px;
    padding:10px 20px;
    border-radius: 5%;
    font-weight:bold;
    border-radius: 20px;
    color:white;
    transition: 0.5s linear;
    cursor:pointer  
}
.buttons .register:hover{
    color:black;
}
.burger_icon{
    display:none
}
@media (max-width:1072px) {
    .burger_icon{
        display:block;
        font-size:26px;
        color:black;

    }
    .burger_icon:hover{
        color:rgb(190, 111, 36);
        font-weight:700;
        cursor: pointer;
        transition: all .3s;
    }
    .navbar-mobile{
        align-items: center;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        height: 100vh;
        justify-content: center;
        
        position: fixed;
        top: 0;
        transition: all .5s ease-in-out;
        width: 100%;
        z-index: 999999;

    }
    .navbar-mobile .cross{
        cursor: pointer;
        font-size: 3rem;
        position: absolute;
        right: 3.5rem;
         top: 3.5rem;
        transition: all .3s;

    }
    .cross:hover{
        color:rgb(190, 111, 36);
        font-weight:700;
        cursor: pointer;
    }
    .navbar-mobile .mobile-list{
        display: flex;
        flex-direction: column;
        font-size: 2.3rem;
        gap: 3rem;
         list-style: none;
        text-align: center;
    }
}


